InstructorEmbedding==1.0.1
chatglm-cpp==0.2.5
chromadb==0.4.8
gguf==0.2.1
langchain==0.0.276
llama-cpp-python==0.1.83
sentence-transformers==2.2.2
streamlit==1.26.0
torch==2.0.1
tqdm==4.66.1
mkdocs
mkdocstrings[python]
mkdocs-material
